.main
  .search
    .search-box
      %b Airbnbホストになって、暮らしをレベルアップ
      %p 宿泊施設の内容を記入
      .search-box-area
        %input#payment_card_no.input-default{data: { input: { type: "card"}},  maxlength: "19", placeholder: "東京",  type: "text",  value: "" }/
      .search-box-room
        %select#payment_card_expire_mm.select-default
          %option{:value => "01"} まるまる貸し切り
          %option{:value => "02"} 個室
          %option{:value => "02"} シェアルーム
      .search-box-people
        %select#payment_card_expire_yy.select-default
          %option{:value => "01"} ゲスト1人
          %option{:value => "02"} ゲスト2人
          %option{:value => "02"} ゲスト3人
          %option{:value => "01"} ゲスト4人
          %option{:value => "02"} ゲスト5人
          %option{:value => "02"} ゲスト6人
          %option{:value => "01"} ゲスト7人
          %option{:value => "02"} ゲスト8人
          %option{:value => "02"} ゲスト9人
          %option{:value => "02"} ゲスト10人
          %option{:value => "02"} ゲスト11人
          %option{:value => "02"} ゲスト12人
          %option{:value => "02"} ゲスト13人
          %option{:value => "02"} ゲスト14人
          %option{:value => "02"} ゲスト15人
          %option{:value => "02"} ゲスト16人
      .search-box-btn
        = link_to "/" do
          %li はじめる
.second
  .second-box
    %h3 Airbnbでホストするこれだけの理由
    .second-box-text
      %p どんなお家やお部屋でも、Airbnbなら簡単かつ安全にシェアでき、世界中の旅好きな仲間とつながれます。 予約可能日から料金、ハウスルール、ゲストとの交流程度まで、すべて自分で決めることができます。

  .second-boxs
    %h3 困ったときも安心
    .second-boxs-text
      %p 万一に備えるUS$1,000,000の財物補償、US$1,000,000の賠償責任保険が全予約に自動付帯。ホストのみなさまと建物・家財の安全をお守りするため全力で取り組んでいます。

.third
  .title
    %h2 3ステップでホスティング
  .third-box
    .third-box-icon1
      <i class="far fa-check-circle"></i>
      .text
        %h3 無料でお部屋を掲載
        .text-description
          %p 共有のリビングルームから別荘に至るまで、どんなスペースでも登録料なしで共有しましょう。
    .third-box-icon2
      <i class="far fa-check-circle"></i>
      .text2
        %h3 ホスティング方法を設定
        .text-description2
          %p スケジュール、料金、ゲストへの要件をご自身で選択しましょう。 お困りの際にはいつでもサポートいたします。
    .third-box-icon3
      <i class="far fa-check-circle"></i>
      .text3
        %h3 はじめてのゲストが来ます！
        .text-description3
          %p リスティングが掲載されると、条件にかなったゲストから連絡を受けとることができます。 ゲストの到着前に質問があればメッセージを送信できます。
      .link
        = link_to "/" do
          %li ホストをはじめる方法をチェック