* {
  box-sizing: border-box;
}

.header {
  height: 81px;
  background-color: #ffffff;
  .icon {
    height: 81px;
    display: flex;
    justify-content: space-between;
    &-group {
      display: flex;
      a {
        color: #484848;
        text-decoration: none;
      }
    }
  
    &-btn {
      background-color: #DB3742;      
      width: 88px;
      height: 36px;
      font-size: 14px;
      text-align: center;
      line-height: 36px;
      border-radius: 4px;
      margin-top: 23px;
      margin-right: 77px;
      a {
        color: #ffffff;
        text-decoration: none;
        list-style: none;
      }
    }
  }
}

.main {
  background: image-url('toppage.jpg');
  height: 501px;
  width: 1456px;
}