* {
  box-sizing: border-box;
}

.header {
  height: 81px;
  background-color: #ffffff;
  .icon {
    height: 81px;
    display: flex;
    justify-content: space-between;
    &-group {
      display: flex;
      a {
        color: #484848;
        text-decoration: none;
      }
    }
  
    &-btn {
      background-color: #DB3742;
      height: 36px;
      width: 88px;
    }
  }
}

.main {
  background: image-url('toppage.jpg');
  height: 501px;
  width: 1456px;
}